name: Code Quality Checks

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v35

      - name: Run black
        run: black --check ${{ steps.changed-files.outputs.all_changed_files }}

      - name: Run isort
        run: isort --check-only ${{ steps.changed-files.outputs.all_changed_files }}

      - name: Run flake8
        run: flake8 --max-line-length=150 ${{ steps.changed-files.outputs.all_changed_files }}

      - name: Clear cache
        run: rm -rf .mypy_cache

      - name: Run mypy
        run: mypy ${{ steps.changed-files.outputs.all_changed_files }}